# Framework principal del backend web.
Django==5.2.8

# Conector de base de datos para MariaDB/MySQL.
PyMySQL==1.1.2

# Requerido por el cliente MySQL cuando usa autenticación segura.
cryptography==46.0.3

# Utilidades de entorno y SQL usadas por Django y herramientas del proyecto.
python-dotenv==1.0.1
sqlparse==0.4.4
