{% load static %}
<!--#region encabezados-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django✨</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

</head>
<!--#endregion-->
<body>
    {# Navbar compartida por todas las pantallas del proyecto. #}
    {% include 'navbar.html'%}
    <div class="container mt-4">
        <br>

        {# Mensajes flash enviados desde las vistas con django.contrib.messages. #}
        {%if messages%} {%for messages in messages%}
        <div class=" alert alert-warning alert-dismissible" role="alert">
                <strong>{{messages}}</strong>  Deberias revisar algunos de los campos , esta equivocado
                <button type="button" class ="btn-close" data-bs-dismiss="alert" arial-label ="Close">
                </button>
            </div>
            {%endfor%}
        {%endif%}
        {# Cada plantilla hija inyecta aquí su contenido principal. #}
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
</body>
</html>
